
.product-inner {
    background-color: white;
    padding-top: 1em;
}
.productContent {
    display: flex;
    flex-wrap: wrap;
}
.productName {
    text-align: center;
    font-weight: bold;
}
.thumbnail {
    height: 70px;
    width: 70px;
}
.listPics {
    order: 1;
    list-style-type: none;
    width: 100%;
    text-align: center;
    margin-left: -20px;
    margin-top: .5rem;; 
    margin-bottom: -1em;;
}
.listPics li {
    display: inline-block;
    padding: .5rem;
}
.productPictureMain {
    order: 0;
    height: 300px;
    width: 95%;
    margin: 5%; 
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px;
    border: 1px solid black;
}
#mainPic {
    width: 100%;
    height: 295px;
}
.productDescription, .addToCart {
    order: 10;
}