/* Products Page */

.productContent {
    display: flex;
    flex-wrap: wrap;
}
.product {
    width: 100%;
    margin-bottom: 1em;
}

.productImg{
    width: 100%;
    height: 20em;
}
.productDescription {
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: #fff;
    padding: 1em;
}

.productDescription h3, p {
    text-align: center;
}