/* responsive css */

@media screen and (max-width: 400px) {
    .item {
        height: 250px;
    }
}
@media screen and (min-width: 401px) {
    .item {
        height: 290px;
    }
}

@media screen and (min-width: 500px) {
    .item {
        height: 350px;
    }
}

@media screen and (max-width: 600px) {
    
    .footer-basic-centered{
        padding: 35px;
    }
    
    .footer-basic-centered .footer-company-motto{
        font-size: 18px;
    }
    
    .footer-basic-centered .footer-company-name{
        font-size: 12px;
    }
    
    .footer-basic-centered .footer-links{
        font-size: 14px;
        padding: 25px 0 20px;
    }
    
    .footer-basic-centered .footer-links a{
        line-height: 1.8;
    }
    .contact {
        background-color: white;
    }
}

@media screen and (min-width: 600px) {
    /* main page */
    .item {
        height: 400px;
    }
    /* product page */
    .product {
        width: calc((100% - 20px) / 2);
        margin-right: 10px;
    }
    .content {
        padding: 2em 0 2em 0;
    }
    /* indiv product */
    #mainPic {
        height: 425px;
    }
    .productPictureMain {
        order: 1;
        width: 77%;
        margin: 0;
        height: 430px;
    }
    .listPics {
        order: 0;
        width: 20%;
        margin-left: -20px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .thumbnail {
        height: 80px;
        width: 80px;
    }
    
}
    
@media screen and (min-width: 800px) {
    .content {
        width: 800px;
        padding: 2em;
        margin-left: auto;
        margin-right: auto;
    }
    header {
        padding-top: 7em;
        padding-bottom: 5em;
    }
    .item {
        height: 500px;
    }
    .product {
        margin-right: 10px;
        width: calc((100% - 30px) / 3);
    }
    .productImg {
        height: auto;
    }
    /* indiv product */
    
}
@media screen and (min-width: 900px) {
    .content {
        width: 900px;
    }
}