body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.content {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 549px) {


    
}

/*
nav bar
*/

@media screen and (min-width: 550px) {
    .burgerIcon {
        display: none;
    }
}