@media screen and (min-width: 400px) {
    .item {
        height: 250px;
    }
}
@media screen and (min-width: 600px) {
    .item {
        height: 400px;
    }
}
@media screen and (min-width: 800px) {
    .content {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .item {
        height: 500px;
    }
}